@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: black;
  font-family: "Hind Siliguri", sans-serif;
  color: white;
  display: flex;
  gap: 1rem;
  min-height: 2rem;
  padding: 1.5rem;
  align-items: center;
}

.iniciar {
  right: 3rem;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.register {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20rem;
}

.container .hover {
  padding: 0 1rem;
}

.container .hover:hover {
  background-color: rgb(65, 63, 63);
  cursor: pointer;
  border-radius: 20rem;
  padding: 0 1rem;
}
/*Laura*/

footer {
  background-color: #000;
  color: #fff;
}

.margin-uber {
  margin: 5px;
}

.margin-h4 {
  margin-bottom: 20px;
}

.display-flex {
  display: flex;
}

.contenido-alineado {
  justify-content: space-between;
}

.list-style {
  list-style: none;
}
